.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
*.html
*.tmp
~$*
docs/*
# {shinytest2}: Ignore new debug snapshots for `$expect_values()`
*_.new.png
inst/doc
/doc/
/Meta/
*.sqlite
/pkgdown/
/test_data/
*.rds